
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="~/Assets/css/signup.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 form-container">
                <div class="col-lg-8 col-md-12 col-sm-9 col-xs-12 form-box text-center">
                    <div class="logo mt-5 mb-3">
                        <img src="~/Assets/img/cmc.jpg" width="150px">
                    </div>
                    <div class="heading mb-3">
                        <h4>Tạo tài khoản</h4>
                    </div>
                    <form method="post" action="./ThemTaiKoan">
                        <div class="form-input">
                            <span><i class="fa fa-user"></i></span>
                            <input type="text" placeholder="Họ và tên" name="name" required>
                        </div>
                        <div class="form-input">
                            <span><i class="fa fa-envelope"></i></span>
                            <input type="text" placeholder="Tài khoản" name="taikhoan" required>
                        </div>
                        <div class="form-input">
                            <span><i class="fa fa-lock"></i></span>
                            <input type="password" placeholder="Mật khẩu" name="password" required>
                        </div>
                        <div class="text-center mb-3">
                            <button type="submit" class="btn">Đăng kí</button>
                        </div>
                        <div class="text-white">
                            Bạn đã có tài khoản?
                            <a href="../User/Login" class="login-link">Đăng nhập</a>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 d-none d-md-block image-container"></div>
        </div>
    </div>
</body>
</html>