@model BTL_CNPM.Models.HOSONHANVIEN

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/HomeMasterpage.cshtml";
}

<h2>Delete</h2>
<form class="" action="/HosoNV/Delete/@Model.MANHANVIEN" method="post">
    @*<input type="hidden" name=""*@
    <div class="row mx-3 mt-3">
        <div class="col-md-6">
            <label for="tenNV">Ten nhan vien</label>
            <input type="text" class="form-control" id="tenNV" name="tennhanvien" placeholder="Ten nhan vien" value="@Model.TENNHANVIEN" />
        </div>
        <div class="col-md-6">
            <label for="ngaylap">Ngay lap</label>
            <input type="hidden" class="form-control" id="ngaylap" name="ngaylap" placeholder="ngay lap" value="@DateTime.Now" />
        </div>
    </div>

    <div class="row mx-3 mt-3">
        <div class="col-md-6">
            <label for="maNV">Ma nhan vien</label>
            <input type="text" class="form-control" id="maNV" name="manhanvien" placeholder="Ma nhan vien" value="@Model.MANHANVIEN" />
        </div>
        <div class="col-md-6">
            <label for="maHS">Ma ho so</label>
            <input type="text" class="form-control" id="maHS" name="mahoso" placeholder="Ma ho so" value="@Model.MAHOSO" />
        </div>
    </div>

    <button type="submit" class="btn btn-danger mx-3 mt-3">Luu thay doi</button>
    <a href="/HosoNV/Index" class="btn btn-dark mx-3 mt-3">Cancel</a>
</form>
