
@{
    ViewBag.Title = "TaoHoso";
    Layout = "~/Views/Shared/HomeMasterpage.cshtml";
}

<h2>Tao Ho so</h2>
<form class="" action="/HosoNV/TaoHoso" method="post">
    <div class="row mx-3 mt-3">
        <div class="col-md-6">
            <label for="tenNV">Ten nhan vien</label>
            <input type="text" class="form-control" id="tenNV" name="tennhanvien" placeholder="Ten nhan vien" />
        </div>
        <div class="col-md-6">
            <label for="ngaylap">Ngay lap</label>
            <input type="hidden" class="form-control" id="ngaylap" name="ngaylap" placeholder="ngay lap" value="@DateTime.Now" />
        </div>
    </div>

    <div class="row mx-3 mt-3">
        <div class="col-md-6">
            <label for="vitri">Vi tri</label>
            <input type="text" class="form-control" id="vitri" name="vitri" placeholder="Vi tri" />
        </div>
        <div class="col-md-6">
            <label for="CCCD">CCCD</label>
            <input type="text" class="form-control" id="CCCD" name="CCCD" placeholder="Can cuoc cong dan" />
        </div>
    </div>

    <div class="row mx-3 mt-3">
        <div class="col-md-6">
            <label for="ngaysinh">Ngay sinh</label>
            <input type="date" class="form-control" id="ngaysinh" name="ngaysinh" placeholder="Ngay sinh" />
        </div>
        <div class="col-md-6">
            <label for="diachi">Diachi</label>
            <input type="text" class="form-control" id="diachi" name="diachi" placeholder="Dia chi" />
        </div>
    </div>

    <div class="row mx-3 mt-3">
        <div class="col-md-6">
            <label for="SDT">Diachi</label>
            <input type="number" class="form-control" id="SDT" name="SDT" placeholder="So dien thoai" />
        </div>
    </div>

    <div class="row mx-3 mt-3">
        <div class="col-md-6">
            <label for="maNV">Ma nhan vien</label>
            <input type="text" class="form-control" id="maNV" name="manhanvien" placeholder="Ma nhan vien" />
        </div>
        <div class="col-md-6">
            <label for="maHS">Ma ho so</label>
            <input type="text" class="form-control" id="maHS" name="mahoso" placeholder="Ma ho so" />
        </div>
    </div>

    <button type="submit" class="btn btn-success mt-3 mx-3">Tao ho so</button>
</form>
